html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border-radius: .15rem;
  margin: .2rem;
  border: 1px solid black;
}

button:hover {
  transform: translate(.05rem, -.05rem);
  box-shadow: -.1rem .1rem .3rem .01rem;
  background-color: rgba(104, 184, 94, 0.484);
}

.react-icons {
  margin-top: .2rem;
}