hr {
  color: black;
  width: 50px;
}


.date {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}


.call {
  box-shadow: -.05rem 0.05rem .3rem .02rem #333333;
  border-radius: .2rem;
  padding: .6rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.inbound {
  background-color: rgb(217, 246, 216);
}

.outbound {
  background-color: rgb(158, 205, 157);
}

.direction-unknown {
  background-color: rgb(216, 216, 216);
}

.call-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.primary-direction {
  font-size: 1rem;
}

.time {
  font-size: 1rem;
}

.call-type {
  font-size: 1.55rem;
  margin-top: .05rem;
}