h2 {
  font-size: 1rem;
}

.call-details {
  box-shadow: -.05rem 0.05rem .2rem .02rem #333333;;
  border-radius: .25rem;
  padding: .5rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.call-details > hr {
  width: 150px;
  margin-left:0;
}