hr {
  background-color: rgb(42, 196, 31);
  width: 60px;
  height: 1px;
  border: none;
}


.date {
  display: flex;
  justify-content: center;
  margin: 1rem;
}


.call {
  box-shadow: -.05rem 0.05rem .3rem .02rem #333333;
  border-radius: .2rem .2rem 0 0;
  padding: .6rem;
  position: relative;
  z-index: 2
}

.call:hover {
  transform: translate(.05rem, -.05rem);
  box-shadow: -.1rem .1rem .3rem .01rem;
}

.inbound {
  background-color: #f0f6eb;
}

.outbound {
  background-color: #bcdfbb;
}

.direction-unknown {
  background-color: #c8e6c7;
}

.call-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.primary-direction {
  font-size: 1rem;
}

.time {
  font-size: 1rem;
}

.call-type {
  font-size: 1.55rem;
  margin-top: .05rem;
}